@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css" rel="stylesheet" />
<style>
    /* Los colores de eventos ahora se asignan dinámicamente desde JavaScript */

    .fc-event-title-container {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
    }

    .fc-daygrid-event {
        cursor: pointer;
    }

    /* Responsiveness */
    #calendar {
        max-width: 100%;
        margin: 0 auto;
    }

    .modal-body label {
        font-weight: bold;
        display: block;
        margin-top: 10px;
    }

    .btn {
        width: 100%;
        margin-top: 10px;
    }

   
</style>
<div class="container py-4">
    <h1 class="text-center mb-4">Calendario de Materiales</h1>
    <div id="calendar"></div>
</div>
<div class="modal fade" id="divEdicion" tabindex="-1" aria-labelledby="Modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Modal">Material</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label>Fecha de Entrega</label>
                <p data-bind="text:fechaEntrega" class="text-break"></p>
                <label>Nombre Material</label>
                <p data-bind="text:nombre" class="text-break"></p>
                <label>Responsable</label>
                <p data-bind="text:responsable" class="text-break"></p>
                <label>Área</label>
                <p data-bind="text:area" class="text-break"></p>
                <a class="btn btn-primary"
                   data-bind="attr: { href: '/Materiales?filtroNombre=' + encodeURIComponent(nombre()) }">
                    Ver Material
                </a>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        var RolId = @Html.Raw(ViewBag.RolId);
    </script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/locales/es.js"></script>
    <script src="~/js/Calendario/Calendario.js" asp-append-version="true"></script>
}
