
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Invitaciones</h1>
<div class="row">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Rol</th>
                    <th scope="col">Detalles</th>

                </tr>
            </thead>
            <tbody data-bind="foreach: registros">
                <tr>
                    <td data-bind="text: id"></td>
                    <td data-bind="text: nombre"></td>
                    <td data-bind="text: correo"></td>
                    <td data-bind="text: userRol.descripcion"></td>
                    <td class="small">
                        <button type="button" class="btn btn-outline-primary" data-bind="click:$root.Aceptar">
                            <i class="lni lni-pencil"></i>
                            <span>Aceptar</span>
                        </button>
                        <button type="button" class="btn btn-outline-primary" data-bind="click:$root.Rechazar">
                            <i class="lni lni-pencil"></i>
                            <span>Rechazar</span>
                        </button>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>

@section Scripts {

    <script src="~/js/Invitaciones/Invitaciones.js" asp-append-version="true"></script>
}

