@model EntityLayer.Concrete.Usuario
@{
    ViewData["Title"] = "Cambio Contraseña";
    Layout = null;
}

<!DOCTYPE html>

<html>
@await Component.InvokeAsync("_HeaderLayoutComponentPartial")
<body>

    <div class="container mt-5 pt-5">

        <div class="row justify-content-center">
            <div class="col-12 col-xl-4 col-md-6">

                <div class="card">
                    <div class="card-header">
                        Cambiar Contraseña
                    </div>
                    <div class="card-body">

                        <form asp-controller="Login" asp-action="CambiarPasswordUsuario" method="post">
                            <!-- Campo oculto para el ID del usuario -->
                            <input type="hidden" asp-for="Id" />

                            <input class="form-control mb-3"
                                   type="password"
                                   id="newPassword"
                                   placeholder="Contraseña nueva"
                                   required
                                   asp-for="Contrasena"
                                   pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).{8,}$"
                                   title="La contraseña debe tener al menos 8 caracteres, una letra mayúscula, una letra minúscula, un número y un carácter especial." />

                            <input class="form-control mb-3"
                                   type="password"
                                   id="confirmPassword"
                                   placeholder="Repetir Contraseña"
                                   required
                                   pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).{8,}$"
                                   title="La contraseña debe tener al menos 8 caracteres, una letra mayúscula, una letra minúscula, un número y un carácter especial." />

                            <button class="w-100 btn btn-lg btn-primary" type="submit" onclick="return validatePasswords()">Cambiar Contraseña</button>

                            @if (ViewData["Mensaje"] != null)
                            {
                                <div class="form-group">
                                    <div class="alert alert-danger" role="alert">
                                        @ViewData["Mensaje"]
                                    </div>
                                </div>
                            }
                        </form>

                    </div>
                </div>
                @{
                    var mensajeExito = TempData["MensajeExito"] as string;
                }

                @if (!string.IsNullOrEmpty(mensajeExito))
                {
                    <div class="alert alert-success" role="alert">
                        @mensajeExito
                    </div>
                    <script type="text/javascript">
                        setTimeout(function () {
                            window.location.href = '@Url.Action("Index", "Login")';
                        }, 5000);
                    </script>
                }
            </div>
        </div>

    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
        function validatePasswords() {
            var password = document.getElementById("newPassword").value;
            var confirmPassword = document.getElementById("confirmPassword").value;

            if (password !== confirmPassword) {
                alert("Las contraseñas no coinciden.");
                return false;
            }
            return true;
        }
    </script>
</body>
</html>
