
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
@await Component.InvokeAsync("_HeaderLayoutComponentPartial")
 
<body class="text-center" cz-shortcut-listen="true">
    <div class="container py-5">
        <div class="row justify-content-center py-5">
            <div class="col-12 col-xl-6 col-md-6">
                <main class="form-signin">
                    <form asp-controller="Login" asp-action="Autenticar" method="post">
                        <img class="mb-4" src="~/img/logo.png" alt="" style="max-width: 200px; height: auto;">
                        <h1 class="h3 mb-3 fw-normal">Iniciar Sesión</h1>

                        <div class="form-floating">
                            <input name="Username" type="email" class="form-control" id="floatingInput" placeholder="name@example.com" required>
                            <label for="floatingInput">Email address</label>
                        </div>
                        <div class="form-floating">
                            <input name="Password" type="password" class="form-control" id="floatingPassword" placeholder="Password" required>
                            <label for="floatingPassword">Password</label>
                        </div>
                        <button class="w-100 btn btn-lg btn-primary" type="submit">Iniciar Sesión</button>
                        @if (ViewData["Mensaje"] != null)
                        {

                            <div class="form-group">
                                <div class="alert alert-danger" role="alert">
                                    @ViewData["Mensaje"]
                                </div>
                            </div>
                        }
                        <a href="@Url.Action("CambioPassword","Login")"> He olvidado mi contraseña </a> | ¿No tienes una cuenta? <a href="@Url.Action("Registro","Login")"> Registraste!</a>
                    </form>
                </main>
            </div>
        </div>
    </div>

    <!-- Modal de Mensaje de Registro -->
    @if (TempData["Mensaje"] != null)
    {
        <div class="modal fade" id="mensajeModal" tabindex="-1" aria-labelledby="mensajeModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="mensajeModalLabel">Solicitud Recibida</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>@TempData["Mensaje"]</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    }
</body>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
@if (TempData["Mensaje"] != null)
{
    <script>
        $(document).ready(function() {
            var mensajeModal = new bootstrap.Modal(document.getElementById('mensajeModal'));
            mensajeModal.show();
        });
    </script>
}
</html>
