@model EntityLayer.Concrete.Usuario
@{
    ViewData["Title"] = "Registro";
    Layout = null;
}

<!DOCTYPE html>

<html>
@await Component.InvokeAsync("_HeaderLayoutComponentPartial")
<body>
    <div class="container mt-5 pt-5">

        <div class="row justify-content-center">
            <div class="col-12 col-xl-4 col-md-6">

                <div class="card">
                    <div class="card-header">
                        Registrate
                    </div>
                    <div class="card-body">

                        <form asp-controller="Usuarios" asp-action="SolicitudUsuario" method="post" enctype="multipart/form-data">

                            <input class="form-control mb-3" type="text" placeholder="Nombre Completo" asp-for="Nombre" required />
                            <input class="form-control mb-3" type="text" placeholder="Apellido Paterno" required asp-for="ApellidoPaterno" required />
                            <input class="form-control mb-3" type="text" placeholder="Apellido Materno" required asp-for="ApellidoMaterno" required />
                            <input class="form-control mb-3" type="text" placeholder="Correo" required asp-for="Correo" required />

                          
                           <input
                                class="form-control mb-3"
                                type="password"
                                id="Contrasena"
                                placeholder="Contraseña"
                                required
                                asp-for="Contrasena"
                                   minlength="6"
                                   title="La contraseña debe tener al menos 6 caracteres."
                            />
                            <input class="form-control mb-3"
                                   type="password"
                                   id="confirmPassword"
                                   placeholder="Repetir Contraseña"
                                   required
                                   minlength="6"
                                   title="La contraseña debe tener al menos 6 caracteres." />

                            <button class="w-100 btn btn-lg btn-primary" type="submit" onclick="return validatePasswords()">Registrarme</button>
                            @if (@TempData["Mensaje"] != null)
                            {

                                <div class="form-group">
                                    <div class="alert alert-danger" role="alert">
                                        @TempData["Mensaje"]
                                    </div>
                                </div>
                            }
                            ¿Ya tienes una cuenta? <a href="@Url.Action("Index","Login")"> Iniciar Sesion</a>

                        </form>

                    </div>

                </div>

            </div>
        </div>

    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
        function validatePasswords() {
            var password = document.getElementById("Contrasena").value;
            var confirmPassword = document.getElementById("confirmPassword").value;

            if (password !== confirmPassword) {
                alert("Las contraseñas no coinciden.");
                return false;
            }
            return true;
        }
    </script>
</body>
</html>
